@use '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.image-container {
    width: 100%;
    column-gap: 20px;
    margin-bottom: 20px;

    @media (max-width: 768px) {
        column-gap: 10px;
        margin-bottom: 10px;
    }

    &.column-3 {
        column-count: 3;
    }

    &.column-5 {
        column-count: 5;
    }

    &.column-2 {
        column-count: 2;
    }

    &.column-1 {
        column-count: 1;
    }
}

