@use '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.header {
    width: 100%;
    height: 65px;
    color: $black;
    position: fixed;
    top: 0px;
    z-index: 1000;
    transition: top 0.7s cubic-bezier(0.4, 0, 0.2, 1);
    @include mixins.flex(row, center, center);

    @media (max-width: 1024px) {
        height: 45px;
    }

    &.hide {
        top: -100%;
    }

    .header-container {
        width: calc(100% - 200px);
        height: 100%;
        @include mixins.flex(row, space-between, center);

        @media (max-width: 1024px) {
            width: calc(100% - 100px);
        }

        @media (max-width: 768px) {
            width: calc(100% - 50px);
        }

        @media (max-width: 375px) {
            width: calc(100% - 20px);
        }

        h1 {
            color: $black;
            cursor: pointer;
            text-transform: uppercase;
            @include mixins.font(PT Sans, 32px, normal, 700, 100%);

            @media (max-width: 1024px) {
                @include mixins.font(PT Sans, 25px, normal, 700, 100%);
            }
        }

        span {
            cursor: pointer;
            padding-bottom: 2px;
            overflow: hidden;
            position: relative;
            text-transform: lowercase;
            @include mixins.font(PT Sans, 20px, normal, 700, 100%);

            @media (max-width: 1024px) {
                @include mixins.font(PT Sans, 15px, normal, 700, 100%);
            }

            &::before {
                content: '';
                width: 0px;
                height: 1px;
                background-color: $black;
                position: absolute;
                bottom: 0px;
                right: 0px;
                transition: all 0.3s ease-in-out;

                @media (max-width: 768px) {
                    display: none;
                }
            }
        }

        span:hover::before {
            right: unset;
            left: 0px;
            width: 100%;
        }
    }
}